*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

body{
       background: linear-gradient(45deg, rgba(45, 159, 247, 0.59), rgba(71, 187, 247, 0.73)), url(http://amarillo.com/sites/default/files/14720645.jpg);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       background-attachment: fixed;

       font-size: 18px;
}

.container{
       width:100%;
}

.search{
       margin-top: 5%;
       width: 100px;
       margin-right: auto;
       margin-left: auto;
       display: flex;
       justify-content: space-around;
       font-size: 120%;
}

.search_button, .search_box{
       padding: .18rem .8rem;
       border: 0;
       box-shadow:  0 10px 25px -0px rgba(101, 93, 103, 0.29);
       border: 0;
       outline: 0;
}

.search_box{
       text-transform: capitalize;
       color: #818588;
       font-size: 100%;
}
.search_button{
       color: #fff;
       background: #5baee6;
       font-size: 120%;
    
       
}

.search_button{
    /* can this cursor: pointer property go into the styling which is already declared for class .search_button above? */
       cursor: pointer;
}






















